body 
{
	padding: 40px;
	background-color: lavender;
	text-align: center;
}
.chess_table 
{
	padding: 15px;
	width: 100%;
	text-align: center;
	border: 2px solid black;
}
h1 
{
	color: tomato;
	text-align: center;
}

h2 
{
	padding-bottom: 15px;
	border-bottom: 1px solid black;
}

p 
{
	font-family: verdana;
	font-size: 15px;
}